<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<h1 id="state">California</h1>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Death count</th>
    </tr>
    </thead>
    <tbody>
    {% for index, day in enumerate(data, start=1): %}
    <tr>
        <td id="{{"date_"+str(index)}}" >{{ day["date"] }}</td>
        <td id="{{"death_count_"+str(index)}}">{{ day["death_count"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>